<!doctype html>
<html ng-app="quotesApp">
<head>
  <link rel="stylesheet" href="quote.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/icon?family=Material+Icons"
        media="screen,projection">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div class="container">

  <div ng-controller="QuotesController">

    <div ng-repeat="quote in quotes">

      <div id="price-chart-{{ quote.id }}" style="height: 200px; width: 400px"></div>
      <div id="volume-chart-{{ quote.id }}" style="height: 200px; width: 400px"></div>

    </div>

    <div style="overflow:scroll;">

      <table ng-if="quotes.length" ng-init="refQuote = quotes[0]"
             class="striped">
        <thead>
        <tr>
          <th ng-repeat="key in keys(refQuote)"
              data-field="key"
              style="text-align: right;">
            {{ key }}
          </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="quote in quotes">
          <td ng-repeat="key in keys(refQuote)"
              style="text-align: right;"
              ng-class="{ 'bg-up': 'green',
              'bg-down': 'red',
              'font-up': 'green-text text-darken-2',
              'font-down': 'red-text text-darken-2',
              }[quoteState[quote.id][key]]">
            {{ quote[key] }}
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

<script src="libs/streamdataio.min.js"></script>
<!--<script src="libs/highstock.js"></script>-->
<script src="libs/highcharts.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/chartHelper.js"></script>
<script src="js/quoteHelper.js"></script>
<script src="js/quote.js"></script>

</body>
</html>